.event_2 {
    .event_2-img {
        width: 100%;
        height: 484px;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    }

    .event_2-img-his {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}