.card_1 {
	position: relative;
	padding: 15px;

	&:after {
		content: '';
		position: absolute;
		height: 90%;
		left: 100%;
		top: 0%;
	}

	.image-mask {
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 100%;
			height: 100%;
		}
	}

	.stars {
		margin-top: 10px;
	}

	.btn_red {
		border-radius: 30px;
	}

	h3 {
		padding: 10px 0;
		font-family: 'helvetica' !important;
	}

	h5 {
		font-family: 'helvetica' !important;
	}
}


.owl-theme .owl-dots .owl-dot span {
	width: 20px;
	height: 20px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 40px;
}


.triggerbtns2 {
	position: relative;

	.customNextBtn2 {
		position: absolute;
		bottom: 100%;
		right: 42%;
		z-index: 1;


		@include responed(tabletland) {
			right: 37%;
		}

		@include responed(tabletport) {
			right: 37%;
		}

		@include responed(phone) {
			right: 28%;
		}

		span {
			font-size: 2rem;
			cursor: pointer;
		}
	}

	.customPrevBtn2 {
		position: absolute;
		bottom: 100%;
		left: 42%;
		z-index: 1;


		@include responed(tabletland) {
			left: 37%;
		}

		@include responed(tabletport) {
			left: 37%;
		}

		@include responed(phone) {
			left: 28%;
		}

		span {
			display: block;
			transform: rotate(180deg);
			font-size: 2rem;
			cursor: pointer;
		}
	}

}