.news_26{
    padding: 1px !important;
    .p1{
        bottom: 0;
        right: 0;        
    }
    h3{
        position: absolute;
        bottom: 60px;
        right: 14px;
        font-family: "alzj bold", sans-serif, Arial;
        padding-right: 10px;
    }
    .btn{
        position: absolute;
        left: 12px;
        top: 11px;
        border-radius: 30px; 
        font-family: Helvetica, sans-serif;       
    }
    ul{
        position: absolute;
        bottom: 5px;
        right: 5px;
        li{
            display: inline-block;
            padding-right: 10px;
            font-family: Helvetica, sans-serif;
        }
    }
}
.news_26_1{
    padding: 1px !important;
    .p1{
        bottom: 0;
        right: 0;        
    }
    h4{
        position: absolute;
        bottom: 55px;
        right: 14px;    
        font-family: "alzj bold", sans-serif, Arial;
        padding-right: 10px;
    }
    .btn{
        position: absolute;
        left: 12px;
        top: 11px;
        border-radius: 30px; 
        font-family: Helvetica, sans-serif;       
    }
    ul{
        position: absolute;
        bottom: 5px;
        right: 5px;
        li{
            display: inline-block;
            padding-right: 10px;
            font-family: Helvetica, sans-serif;
        }
    }    
}
.news_26_1-2{
    padding-bottom: 1px !important; 
    .image-mask{
        img{
            opacity: 0.5;
        }
    } 
}