.moduels-add {
	padding: 20px 0px;
}



.relative {
	position: relative;
}

.title_1,
.title_2 {
	padding: 20px 0 50px 0px;

	&:before,
	&:after {
		position: absolute;
		content: "";
		top: 46px;
		width: calc(50% - 60px);
		height: 2px;
		background: #cdcdcd;
	}

	&:before {
		right: 0;
	}

	&:after {
		left: 0;
	}

	h4 {
		display: inline-block;
		padding: 10px;
	}
}