.falitye{
	background-size: cover;
    .purple-gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background: rgb(23,122,191); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(23,122,191,1) 0%, rgba(111,99,203,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(23,122,191,1) 0%,rgba(111,99,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(23,122,191,1) 0%,rgba(111,99,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177abf', endColorstr='#6f63cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */        
    }
}

.news_2 {
	padding: 0 2.5px !important;
    @include responed(tabletland){
		margin-bottom: 3.5px;
		padding: 2.5px 0px !important;		
    }    
    @include responed(tabletport){
		margin-bottom: 3.5px;
		padding: 2.5px 0px !important;
    }
    @include responed(phone){
		padding: 0 2.5px !important;
    }	
	h3{
		position: absolute;
		bottom: 47px;
		right: 35px;
		font-family: Helvetica, sans-serif;
		font-weight: 100;
	}
	.p1{
		bottom: 0;
		right: 0;		
	}
	button{
		position: absolute;
		top: 20px;
		left: 15px;
		border-radius: 30px;
	}
	ul{
		position: absolute;	
		vertical-align: middle;
		bottom: 2px;
		right: 35px;
		font-family: Helvetica, sans-serif;
		li{
			display: inline-block;
			padding-right: 5px;
		}			
	}	
}


.news_2-1 {
	padding: 0 5px 5px 0 !important;
    @include responed(tabletland){
		padding: 2.5px 2.5px !important;		
    }    
    @include responed(tabletport){
		margin-bottom: 3.5px;
		padding: 2.5px 2.5px !important
    }
    @include responed(phone){
		padding: 0 2.5px !important;
    }	
	h4{
		position: absolute;
		bottom: 40px;
		right: 10px;
		font-family: Helvetica, sans-serif;
		font-weight: 100;
	}
	P{
		position: absolute;
		bottom: 42px;
		right: 10px;			
	}
	.p1{
		bottom: 0;
		right: 0;		
	}
	button{
		position: absolute;
		top: 20px;
		left: 15px;
		border-radius: 30px;
	}
	ul{
		position: absolute;	
		vertical-align: middle;
		bottom: 0px;
		right: 10px;	
		font-family: Helvetica, sans-serif;
		li{
			display: inline-block;
			padding-right: 5px;
		}			
	}
	.image-mask{
		background: #000;
		img{
			opacity: 0.5;
		}
	}
}