.table-price{
    background-size: cover;
    padding: 25px;
    font-family: Helvetica, sans-serif;
   /* .table-structure{
        background: #8338ec;
        border-radius: 15px; 
        h3{
            padding: 25px;            
        }
    }
    table{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background: #FFF;
        margin: 0px 0px;
        padding: 0px;
        tbody{
            tr{
                border-bottom:none;
                td{
                    text-align: right;
                    padding-right: 60px;
                    padding-top: 20px;
                }
            }
        }
    }
    .table-bottom{
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        background: #FFF;
        padding: 20px 58px;
        a{
            display: block;
            border-radius: 30px;
        }                
    }*/

}