//============================theme colors =============================//
$main-color: #a05300;
$sechead-color: #b03a3a;
$thired-color:#f9a94a;
$small-color:#ca7918;
$coments-backcolor:#ececec;

$orange-color-theme:#f8a228;
$red-color-theme:#993032;
$white-color-theme:#FFF;
