.full-bg{
    @include responed(tabletport){
        display: none;
    }
    @include responed(phone){
        display: none;
    }   
}

.social{
    @include responed(tabletport){
        display: none;
    }
    @include responed(phone){
        display: none;
    }    
}
.side-res{
     @include responed(desktop){
        display: none;
    }
    @include responed(tabletland){
        display: none;
    }
    @include responed(tabletport){
        display: block;
    }
    @include responed(phone){
        display: block;
    }        
}
.product{
    margin-top: 2rem;
    h2{
        font-weight: bold;
    }
    &-list{
        padding-top: 0.5rem !important;
        li{
            display: inline-block;
            vertical-align: middle;
            font-size: 0.6rem;
            &:nth-of-type(2){
                border-left: 1px soild #000;
            }
        }
    }
    &-image{
        position: relative;
        &-slider{
            
            img{
                max-width: 100%;
                height: auto;
                @include responed(tabletport){
                    margin-right: 0%;
                }
                @include responed(phone){
                    margin-right: 0%;
                }                
            }  
        }
        &-icon-shear{
            .jedeed-share{
                font-size: 2.5rem;
            }
        }
        &-icon-shear{
            .jedeed-share{
                font-size: 2.5rem;
            }
        }        
    }
    &-image-pricing{
        position: absolute;
        top: 89%;
        left: 0;
        right: 0;
        bottom: 0;
        a{
            border-radius: 2.5rem;
            padding: 0.5rem 1rem;            
        }
    }
    &-describtion{
        h3{
            font-size: 2.2rem; 
            font-weight: normal !important;
        }
        p{
            font-size: 0.8rem;
            line-height: 1.5rem;
        }
    }
    &-comments{
        background: $coments-backcolor;
        padding: 1rem;
        ul{
            padding: 0 0.5rem;
            li{
                display: inline-block;
            }
            .add-comments{
                @include responed(tabletport){
                    margin-top: 0.5rem;
                }
                @include responed(phone){
                    margin-top: 0.5rem;
                }                  
            }
            .enter{
                float: left;
                @include responed(tabletport){
                    margin-top: 0.5rem;
                    float: none;
                }
                @include responed(phone){
                    margin-top: 0.5rem;
                    float: none;
                }                  
            }            
        }
        .product-comments-message{
            padding: 1.5rem;
            form{
                background: $white-color;
                border-radius: 5px;
            }
        }
        .product-comments-field{
            padding-right: 74px;
            .jedeed-user{
                background: #8e8e8e;
                padding: 0.7rem;
                font-size: 2.1rem;
                border-radius: 4rem;
                position: absolute;
                right: 10px;
                top: -7px;
                color:$white-color;
            }
        }
        .product-comments-label{
            padding-right: 74px;  
        }
        .product-comments-people{
            border-radius: 5px;
            padding: 1.5rem;
            @include responed(tabletport){
                padding: 0rem;
            }
            @include responed(phone){
                padding: 0rem;
            } 
            ul{
                li{
                    margin-top: 1.5rem;
                    border-bottom: 1px solid #d6d6d6;
                }
            }
        }
        
    }
}


.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}
