.relative{
    position: relative;
}

.image-mask{
    overflow: hidden;
    img{
        position: absolute;
        width: 100%;
        height:100%;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.turnacte-h1{
    overflow: hidden;
    height: 26px;
    max-width: 100%;
}

.turnacte-h2{
    overflow: hidden;
    height: 49px;
    max-width: 100%;
    line-height: 1.2;
}

.turnacte-p{
    overflow: hidden;
    height: 39px;
    max-width: 100%;
}
